.tabs {
  text-align: center;
}

.tabs button {
  cursor: pointer;
}

.tabs button.active,
.tabs button:hover {
  background-color: rgb(200, 192, 192);
}

.tabs-filter {
  text-align: center;
  margin-top: 100px;
}

.tabs-filter button {
  cursor: pointer;
}

.tabs-filter button.active,
.tabs-filter button:hover {
  background-color: rgb(200, 192, 192);
}

select {
  background-color: royalblue;
  border: none;
  color: #fefefe;
  font-size: 15px;
}

select:hover {
  background-color: rgb(200, 192, 192);
  color: royalblue;
}

option {
  font-weight: bold;
  padding: 15px 15px 15px;
  min-height: 2em;
  font-size: large;
}

h2 {
  color: royalblue;
}

.content>div:not(:first-child) {
  display: none;
}

.filters {
  display: flex;
  justify-content: center;
  height: 200px;
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

.filters div {
  position: relative;
  margin: 50px;
  float: left;
  height: 100px;
}

.shop-products {
  margin-bottom: 300px;
  margin-top: 70px;
}

.tabs button {
  background-color: royalblue;
  border-radius: 30px;
  height: 50px;
  width: 150px;
}

.tabs-filter button {
  background-color: royalblue;
  border-radius: 30px;
  height: 50px;
  width: 150px;
}

.reveal-by-x {
  position: relative;
  transform: translateX(150px);
  transition: 1s all ease;
}

.reveal-by-x.on {
  transform: translateX(0px);
}

.cd {
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

.cellphones {
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

.offers {
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

.others {
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

.consoles {
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}
.all_cd{
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-container {
  display: inline-flex;
  position: relative;
  right: 0;
  width: 25%;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 20px;
  float: right;
}

.results-title{
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
  text-decoration: underline;
  color: royalblue;
}

.shop-title{
  font-weight: bolder;
  margin: 50px;
  text-decoration: underline 5px;
}

.search-container button {
  border-radius: 10px;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.search-container input {
  border-radius: 10px;
}

@media screen and (max-width:1284px) {
  .search-container {
    float: right;
    width: 25%;
  }

  .filters {
    height: 400px;
  }
}

@media screen and (max-width:1500px) {
  .filters {
    height: 400px;
  }
}

@media screen and (max-width:1090px) {
  .search-container {
    float: right;
    width: 40%;
  }

  .filters {
    height: 400px;
  }
}
@media screen and (max-width:890px) {
  .search-container {
    float: right;
    width: 50%;
  }

  .filters {
    height: 400px;
  }
}

@media screen and (max-width:845px) {
  .filters {
    height: 400px;
  }

  .filters div {
    margin: 20px;
  }
}

@media screen and (max-width:820px) {
  .search-container {
    float: right;
    width: 50%;
  }
}

@media screen and (max-width:770px) {
  .search-container {
    float: right;
    width: 50%;
  }

  .filters {
    height: 300px;
  }

  .filters div {
    width: 25%;
  }
}

@media screen and (max-width:613px) {
  .search-container {
    right: 10%;
    width: 75%;
  }
}

@media screen and (max-width: 420px) {
  .search-container {
    right: 10%;
    width: 75%;
  }

  .filters {
    margin: 0;
    height: 400px;
    text-align: center;
  }

  .filters div {
    width: 30%;
  }
}

@media screen and (max-width: 390px) {
  .search-container {
    right: 10%;
    width: 75%;
  }
}
/* start of adding text when hover on icon */
.nav-item .home_menu:hover i::after {
  content:"Home";
  margin-left: 5px;
}
.nav-item .shop_menu:hover i::after {
  content:"Shop";
  margin-left: 5px;
}
.nav-item .appointments_menu:hover i::after {
  content:"Appointments";
  margin-left: 5px;
}
.nav-item .contact_menu:hover i::after {
  content:"Contact";
  margin-left: 5px;
}
.nav-item .about_menu:hover i::after {
  content:"About us";
  margin-left: 5px;
}
.nav-item .basket_menu:hover i::after {
  content:"Basket";
  margin-left: 5px;
}
.nav-item .myaccount_menu:hover i::after {
  content:"My Account";
  margin-left: 5px;
}
/* end of adding text when hover on icon */