
  .tabs{
    text-align: center;
  }
  .tabs button{
    cursor: pointer;
  }
  .tabs button.active, .tabs button:hover{
    background-color: rgb(200, 192, 192);
  }
.content >div:not(:first-child){
    display: none;
}