.title {
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.profile-sidebar-list li a {
    color: rgb(12, 14, 17);
    font-size: large;
    font-weight: 500;
    opacity: 0.6;
}

.profile-sidebar-list li {
    margin-bottom: 30px;
}

.profile-sidebar-list li a:hover {
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}

.profile-sidebar-list li a:visited {
    font-weight: 700;
    opacity: 0;
}

#customer-name span {
    font-size: xx-large;
    font-weight: 700;
}

#customer span {
    font-size: medium;
    font-weight: 400;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.basket {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.favorites{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.profile-part {
    display: flex;
    flex-direction: row;
    /* width: 900px; */
}

.profile-part #attribute {
    color: royalblue;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 30px;
}

.basket-products{
    display: flex;
    flex-direction: column;
}

.basket-product{
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 15px 1px rgba(21, 100, 219, 0.486);
    margin: 10px;
    margin-left: 20px;
    border: 5px solid rgba(21, 100, 219, 0.486);
    border-radius: 15px;
}

.basket-product-img{
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}
.basket-product-part{
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.favorites-products{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px 1px rgba(21, 100, 219, 0.486);
    margin: 10px;
    margin-left: 20px;
    border: 5px solid rgba(21, 100, 219, 0.486);
    border-radius: 15px;
}

.favorites-product-info{
    display: flex;
    flex-direction: row;
}

.favorites-product-button{
    display: flex;
    flex-direction: row;
}

.favorites-product-img{
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}
.favorites-product-part{
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.favorites-product-buttons{
    display: flex;
    flex-direction: row;
}

.favorites-product-buttons div{
    margin: 20px;
}

.favorites-product-part h3{
    color: royalblue;
}
.btn{
    border-radius: 5px;
}
.edit_profile_btn{
    border-radius: 20px;
    float: left;
    margin-right: 50px;
    color: black;
}
.save_profile_btn{
    border-radius: 20px;
    color: black;
}
.edit_save_btn{
    margin-top: 20px;
}

.first_name_editprofile, .last_name_editprofile, .email_editprofile, .phone_number_editprofile, .address_editprofile{
    border-radius: 15px;
}
/* start of making profile container responsive */
@media screen and (max-width:904px){
    .profile-part{
        flex-direction: column;
    }
}

@media screen and (max-width:892px){
    .profile-container{
        flex-direction: column;
    }
    .profile-sidebar img{
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width:420px){
    .profile{
        margin-left: 70px;
        width: 250px;
    }
}
@media screen and (max-width:367px){
    .profile{
        margin-left: 50px;
        width: 260px;
    }
}
@media screen and (max-width:360px){
    .profile{
        margin-left: 40px;
        width: 260px;
    }
}
@media screen and (max-width:336px){
    .profile{
        margin-left: 20px;
        width: 250px;
    }
}


/* end of making profile container responsive */
.close_form {
    position: absolute;
    right: 325px;
    top: 240px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }

  /* start of making close btn responsive */
  @media screen and (max-width:1500px){
    .close_form{
        position: absolute;
        right: 300px;
    }    
  }
  @media screen and (max-width:1400px){
    .close_form{
        position: absolute;
        right: 280px;
    }    
  }
  @media screen and (max-width:1350px){
    .close_form{
        position: absolute;
        right: 240px;
    }    
  }
  @media screen and (max-width:1300px){
    .close_form{
        position: absolute;
        right: 240px;
    }    
  }
  @media screen and (max-width:1244px){
    .close_form{
        right: 220px;
    }    
  }
  @media screen and (max-width:1205px){
    .close_form{
        right: 200px;
    }    
  }
  @media screen and (max-width:1172px){
    .close_form{
        right: 180px;
    }    
  }
  @media screen and (max-width:1099px){
    .close_form{
        right: 160px;
    }    
  }
  @media screen and (max-width:1047px){
    .close_form{
        right: 140px;
    }    
  }
  @media screen and (max-width:1015px){
    .close_form{
        right: 120px;
    }    
  }
  @media screen and (max-width:976px){
    .close_form{
        right: 100px;
    }    
  }
  @media screen and (max-width:926px){
    .close_form{
        right: 80px;
    }    
  }
  @media screen and (max-width:892px){
    .close_form{
        position: absolute;
        right: 280px;
        top: 725px;
    }    
  }
  @media screen and (max-width:843px){
    .close_form{
        position: absolute;
        right: 260px;
        top: 725px;
    }    
  }
  @media screen and (max-width:806px){
    .close_form{
        position: absolute;
        right: 240px;
        top: 725px;
    }    
  }
  @media screen and (max-width:751px){
    .close_form{
        position: absolute;
        right: 220px;
        top: 725px;
    }    
  }
  @media screen and (max-width:712px){
    .close_form{
        position: absolute;
        right: 200px;
        top: 725px;
    }    
  }
  @media screen and (max-width:651px){
    .close_form{
        position: absolute;
        right: 180px;
        top: 725px;
    }    
  }
  @media screen and (max-width:613px){
    .close_form{
        position: absolute;
        right: 160px;
        top: 725px;
    }    
  }
  @media screen and (max-width:571px){
    .close_form{
        position: absolute;
        right: 140px;
        top: 725px;
    }    
  }
  @media screen and (max-width:533px){
    .close_form{
        position: absolute;
        right: 120px;
        top: 725px;
    }    
  }
  @media screen and (max-width:515px){
    .close_form{
        position: absolute;
        right: 120px;
        top: 725px;
    }    
  }
  @media screen and (max-width:477px){
    .close_form{
        position: absolute;
        right: 100px;
        top: 725px;
    }    
  }

  @media screen and (max-width:451px){
    .close_form{
        position: absolute;
        right: 90px;
        top: 725px;
    }    
  }
  @media screen and (max-width:423px){
    .close_form{
        position: absolute;
        right: 100px;
        top: 725px;
    }    
  }
  @media screen and (max-width:400px){
    .close_form{
        position: absolute;
        right: 80px;
        top: 725px;
    }    
  }
  @media screen and (max-width:384px){
    .close_form{
        position: absolute;
        right: 60px;
        top: 725px;
    }    
  }

  @media screen and (max-width:305px){
    .close_form{
        position: absolute;
        right: 30px;
        top: 725px;
    }    
  }


  /* end of making close btn responsive */
