.title {
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
}
.profile-sidebar{
    display: flex;
    flex-direction: column;
}
.profile-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.profile-sidebar-list li a{
    color: rgb(12, 14, 17);
    font-size: large;
    font-weight: 500;
    opacity: 0.6;
}

.profile-sidebar-list li{
    margin-bottom: 30px;
}

.profile-sidebar-list li a:hover{
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
}

.profile-sidebar-list li a:visited{
    font-size: xx-large;
    opacity: 0;
}

#customer-name span{
    font-size: xx-large;
    font-weight: 700;
}

#customer span{
    font-size: medium;
    font-weight: 400;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.profile-part{
    display: flex;
    flex-direction: row;
    /* width: 900px; */
}

.profile-part #attribute{
    color: royalblue;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 30px;
}