.appointments-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: 10px 10px 15px 1px royalblue;
  position: relative;
  left: 20%;
  right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.appointment-item {
  display: flex;
  flex-direction: column;
}

.appointment-item h2 {
  color: royalblue;
}

.appointment-item-info {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.appointment-free-game {
  background-color: #fefefe;
  margin: 30px;
  margin-top: 150px;
  padding: 20px;
  box-shadow: 10px 10px 15px 1px royalblue;
}

.appointment-item-info img {
  width: 25%;
  margin: 20px;
}

.appointment-item-info-part {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 838px) {
  .appointment-item-info {
    flex-direction: column;
  }

  .appointment-item-info img {
    margin: 5px;
    width: 50%;
  }
}

/* start of adding text when hover on icon */
.nav-item .home_menu:hover i::after {
  content: "Home";
  margin-left: 5px;
}

.nav-item .shop_menu:hover i::after {
  content: "Shop";
  margin-left: 5px;
}

.nav-item .appointments-div-div_menu:hover i::after {
  content: "Appointments";
  margin-left: 5px;
}

.nav-item .contact_menu:hover i::after {
  content: "Contact";
  margin-left: 5px;
}

.nav-item .about_menu:hover i::after {
  content: "About us";
  margin-left: 5px;
}

.nav-item .basket_menu:hover i::after {
  content: "Basket";
  margin-left: 5px;
}

.nav-item .myaccount_menu:hover i::after {
  content: "My Account";
  margin-left: 5px;
}

/* end of adding text when hover on icon */
.gift i {
  position: relative;
  animation: myfirst 50s infinite;
  animation-timing-function: linear;
}

.present {
  width: 20%;
  margin: 0 auto;
  position: fixed;
  left: 5px;
  bottom: 10px;
  z-index: 1;
  animation: myfirst 2s infinite;
  animation-timing-function: linear;
}

.box,
.lid {
  background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(240, 58, 58);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  position: relative;
  margin: 0 auto;
}

.box {
  width: 200px;
  height: 130px;
}

.lid {
  width: 200px;
  height: 70px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: rgb(216, 52, 52);
  top: 0;
  left: 0;
  transition:
    top ease-out 0.5s,
    left ease-out 0.5s,
    transform ease-out 0.5s;
}

.box span,
.lid span {
  position: absolute;
  display: block;
  background: rgba(235, 199, 0, 0.8);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.box span:first-child {
  width: 100%;
  height: 40px;
  top: 50px;
}

.box span:last-child,
.lid span {
  width: 40px;
  height: 100%;
  left: 85px;
}

.lid span {
  left: 85px;
}

.promo {
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  height: 0;
  top: 10px;
  transition: all ease-out 0.7s;
  background-color: royalblue !important;
}

.promo p {
  font-size: 15px;
  margin: 0;
}

.promo h2 {
  font-size: 20px;
  margin: 0;
}

/* hover effects */
.present:hover .lid {
  top: -100px;
  transform: rotateZ(10deg);
  left: 10px;
}

.present:hover .promo {
  top: -80px;
}

@keyframes myfirst {
  0% {
    transform: translateY(-150px);
  }

  25% {
    transform: translateY(50px);
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(10deg);
  }

  75% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(-10deg);
  }
}

/* start calendar here */
.container {
  font-size: 62.5%;
  width: 100%;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: royalblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  width: calc(44.2rem/7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem/7);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: .2rem solid #777;
  cursor: pointer;
  transition: background-color 0.2s;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: royalblue;
}



@media screen and (max-width:1253px) {
  .box {
    width: 170px;
    height: 120px;
  }

  .lid {
    width: 170px;
    height: 50px;
  }
}

@media screen and (max-width:1060px) {
  .box {
    width: 140px;
    height: 100px;
  }

  .lid {
    width: 140px;
    height: 50px;
  }

  .promo p {
    font-size: 13px;
  }

  .promo h2 {
    font-size: 13px;
  }

  .present {
    left: -10px;
  }
}

@media screen and (max-width:897px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 340px;
    position: absolute;
  }

  .box {
    width: 180px;
    height: 110px;

  }

  .lid {
    width: 180px;
    height: 50px;
  }

  .promo p {
    font-size: 15px;
  }

  .promo h2 {
    font-size: 15px;
  }
}

@media screen and (max-width:800px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 290px;
  }
}

@media screen and (max-width:732px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 250px;
  }
}

@media screen and (max-width:680px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 200px;
  }

}

@media screen and (max-width:579px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 160px;
  }
}

@media screen and (max-width:490px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 150px;
  }

  .box {
    width: 150px;
    height: 110px;

  }

  .lid {
    width: 150px;
    height: 50px;
  }

  .promo p {
    font-size: 12px;
  }

  .promo h2 {
    font-size: 12px;
  }
}

@media screen and (max-width:435px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 120px;
  }

  .box {
    width: 150px;
    height: 110px;

  }

  .lid {
    width: 150px;
    height: 50px;
  }

  .promo p {
    font-size: 12px;
  }

  .promo h2 {
    font-size: 12px;
  }
}


@media screen and (max-width:390px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 100px;
  }

  .box {
    width: 150px;
    height: 110px;

  }

  .lid {
    width: 150px;
    height: 50px;
  }

  .promo p {
    font-size: 12px;
  }

  .promo h2 {
    font-size: 12px;
  }
}


@media screen and (max-width:339px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 60px;
  }

  .box {
    width: 140px;
    height: 110px;

  }

  .lid {
    width: 140px;
    height: 30px;
  }

  .promo p {
    font-size: 12px;
  }

  .promo h2 {
    font-size: 12px;
  }
}

@media screen and (max-width:264px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 30px;
  }

  .box {
    width: 140px;
    height: 110px;

  }

  .lid {
    width: 140px;
    height: 30px;
  }

  .promo p {
    font-size: 10px;
  }

  .promo h2 {
    font-size: 10px;
  }
}

@media screen and (max-width:225px) {
  .appointments-div {
    margin-top: 329px;
  }

  .present {
    top: 350px;
    left: 30px;
  }

  .box {
    width: 140px;
    height: 110px;

  }

  .lid {
    width: 140px;
    height: 30px;
  }

  .promo p {
    font-size: 10px;
  }

  .promo h2 {
    font-size: 10px;
  }
}