.product_image {
    width: 40%;
    float: left;
    margin-left: 100px;
    margin-bottom: 10px;
}

.product_info_page {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.product_right_part {
    margin-left: 100px;
}

.product_description {
    color: gray;
}

input[type=number] {
    padding: 5px;
    border-radius: 10px;
}

.product_info_addtobasket {
    border-radius: 20px;
}

.product_info_addtofavorites {
    border-radius: 20px;
}

.product-info-part {
    display: flex;
    flex-direction: row;
}

#points {
    font-size: medium;
}

#points:hover {
    border: 3px solid royalblue;
}

#points:focus {
    border: 3px solid royalblue;
    background-color: rgba(65, 105, 225, 0.6);
    color: #fefefe;
}

@media screen and (max-width: 970px) {
    .product_info_page {
        flex-direction: column !important;
    }

    .product_image {
        width: 95%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .product-info-part {
        margin: 20px;
    }
}

@media screen and (max-width: 500px) {
    .product_image {
        width: 100%;
        margin: 0;
    }

    .product_right_part {
        margin: 20px;
    }
}