html {
  scroll-behavior: smooth;
}

i {
  padding-right: 5px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  color: royalblue;
  text-decoration: none;
}

header {
  background-color: #333;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: grey;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* -webkit-transition:all .3s ease-in-out; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: white;
}

@media (max-width:770px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 52px;
    gap: 0;
    flex-direction: column;
    float: initial;
    background-color: royalblue;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-link {
    color: #eee;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev:active,
.next:active {
  background-color: royalblue;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 20px 14px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  background-color: rgba(65, 105, 225, 0.6);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 50px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: royalblue;
  color: #eee;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 50%;
}

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: royalblue;
  color: white;
  padding: 12px 20px;
  margin-top: 6px;
  border: none;
  cursor: pointer;
  align-items: flex-start;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: royalblue;
}

.cancelbtn

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 100%;
  display: inline-flexbox;
  justify-content: center;
  flex: content;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

#login-button:hover {
  background-color: white;
  color: royalblue;
}

.shop-products #product {
  display: inline-block;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  background-color: royalblue;
}

.close:hover,
.close:focus {
  color: royalblue;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animateZoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

footer {
  background-color: #000;
  color: beige;
  padding: 20px;
}

.footer-list li {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 20px;
}

.footer-list li a {
  text-decoration: none;
  color: beige;
}

.footer-list-element li {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.footer-list-element li a {
  color: beige;
  text-decoration: none;
}

footer a:hover {
  color: royalblue;
}

/* .username_login{
    width:100px;
} */
#canceling {
  margin-bottom: 90px;
}

.feature-icon {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(65, 105, 225, 0.6); */
}

.features {
  display: inline-flex;
  /* justify-content:flex-end ; */


}

.feature-part {
  width: 20%;
  float: left;
  display: block;
  justify-content: right;
  background-color: rgba(65, 105, 225, 0.6);
  color: #fefefe;
  margin-left: 50px;
  border-radius: 20px;
}

#feature_2 {
  margin-bottom: 38px;
}

.feature-part:hover {
  background-color: #fefefe;
  color: rgba(65, 105, 225, 0.6);
  border: 5px solid rgba(65, 105, 225, 0.6);
}

/* tozbeet el features part */
#feature_4 {
  margin-right: 15px;
}



/*hay lanzabet el login aa kaza platform*/
@media screen and (max-width: 1285px) {
  .container {
    margin-left: 180px;
    width: 60%;
  }
}

@media screen and (max-width: 1225px) {
  .container {
    margin-left: 160px;
    width: 60%;
  }
}

@media screen and (max-width: 1171px) {
  .container {
    margin-left: 140px;
    width: 60%;
  }

  .nav-item {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1078px) {
  .container {
    margin-left: 120px;
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 100px;
    width: 60%;
  }

  .modal .join_our_family {
    font-size: 25px;
    margin-left: -40px;
    color: #04aa6d;
  }
}

@media screen and (max-width: 909px) {
  .container {
    margin-left: 80px;
    width: 60%;
  }
}

@media screen and (max-width: 774px) {
  .container {
    margin-left: 60px;
    width: 60%;
  }

  .modal .join_our_family {
    font-size: 18px;
  }
}

@media screen and (max-width: 598px) {
  .container {
    margin-left: 60px;
  }

  .features-title {
    font: 15px Arial, sans-serif !important;
  }

  .features {
    flex-flow: column !important;
    align-items: center !important;
  }

  .feature-part {
    width: 50%;
    margin-bottom: 30px;
  }

  .about-us-title {
    font-size: 15px !important;
    padding-top: 40px;
  }

  .contact-us-title {
    font-size: 15px !important;
    padding-top: 40px;
  }

  .contact-us {
    flex-direction: column !important;
  }

  .contact-us-img {
    width: 100% !important;
  }

  .shop-products-title {
    font-size: 15px !important;
    padding-top: 40px;
  }

}

/* end of making login page responsive */
.username_login,
.password_login {
  border-radius: 30px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
  background-color: #ddd;
  outline: none;
}

.modal-content {
  background-image: url(../images/wallpaper4.jpg);
  border-radius: 20px;
}

.product1 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  perspective: 1000px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 60px;
}

/*  start testimonials responsive */
@media screen and (max-width: 720px) {
  .product1 {
    margin-left: 220px;
  }
}

@media screen and (max-width: 663px) {
  .product1 {
    margin-left: 200px;
  }
}

@media screen and (max-width: 636px) {
  .product1 {
    margin-left: 180px;
  }
}

@media screen and (max-width: 628px) {
  .product1 {
    margin-left: 140px;
  }
}

@media screen and (max-width: 567px) {
  .product1 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 567px) {
  .product1 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 423px) {
  .nav-link {
    color: #eee;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .product1 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 372px) {
  .product1 {
    width: 250px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 323px) {
  .product1 {
    width: 200px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 390px) {
  /* .nav-menu{
    position: fixed;
    left: -100%;
    top: 52px;
    gap: 0;
    flex-direction: column;
    float: initial;
    background-color: royalblue;
    width: 390px;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
  } */
}

@media screen and (max-width: 239px) {
  .product1 {
    margin-left: 2px;
  }
}

/*end testimonials responsive */
.product_info {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.product1:hover .product_info {
  transform: rotateY(180deg);
}

.img_section,
.attributes_section {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.img_section img {
  border-radius: 20px;
  margin-top: 5px;
  height: 103%;
  width: 101%;
  margin-top: -5px;
  background-color: #bbb;
  color: black;
}

.attributes_section {
  background-color: royalblue;
  opacity: 70%;
  border-radius: 20px;
  color: white;
  transform: rotateY(180deg);
}

.info {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 70px;
}

.add_to_basket {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 30px;
  margin-top: 4px;
}

.add_to_fav {
  width: 40px;
  height: 40px;
  margin-top: -3px;
  float: left;
  margin-left: 30px;
}

.location-logo {
  width: 3%;
}

.testimonial_cover {
  border: 2px solid #ccc;
  background-color: #eee;
  margin: 0px 16px 16px 16px;
  padding: 16px;
  border-radius: 30px;
}

.testimonial_cover:hover {
  background-color: #bbb;
}

.testimonial_cover img {
  float: left;
}

.testimonial_cover p {
  margin-left: 110px;
}

.name_test {
  color: grey;
}

.testimonial_cover {
  height: 150px;
}

#TopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(65, 105, 225, 0.6);
  color: #fefefe;
  padding: 15px;
  border-radius: 4px;
  align-items: center;
}

#TopBtn:hover {
  background-color: royalblue;
}

/* start testimonials responsive */
@media screen and (max-width: 860px) {
  .testimonial_cover {
    font-size: small;
  }

  .feature-part {
    width: 40%;
    margin: 10px;
  }

  .features {
    flex-flow: row wrap;
    justify-content: center;
  }

}

@media screen and (max-width: 731px) {
  .testimonial_cover {
    font-size: 12px;
  }
}

@media screen and (max-width: 365px) {
  .testimonial_cover {
    height: 160px;
  }
}

@media screen and (max-width: 324px) {
  .testimonial_cover {
    height: 180px;
  }
}

@media screen and (max-width: 293px) {
  .testimonial_cover {
    height: 200px;
  }
}

@media screen and (max-width: 283px) {
  .testimonial_cover {
    height: 220px;
  }
}

@media screen and (max-width: 273px) {
  .testimonial_cover {
    height: 290px;
  }
}

@media screen and (max-width: 252px) {
  .testimonial_cover {
    height: 310px;
  }
}

/* end testimonials responsive */
.test-back {
  background-color: rgb(120, 149, 236);
  /* padding-top: 60px; */
  position: relative;
  top: 50px;
  padding-bottom: 30px;
  margin-bottom: 70px;
  margin-left: 16px;
  margin-right: 16px;
  /* margin-top: 50px; */
  border-radius: 16px;
  bottom: -50px;
}

.testimonials-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
}

.features-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
}

.about-us-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
}

.appointments-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
}

.shop-products-title {
  margin-top: 30px;
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
}

.about-us {
  background-image: url(../images/Gaming-Wallpaper.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.appointments {
  background-image: url(../images/maintenance.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.about-us-paragraph {
  background-color: rgba(65, 105, 225, 0.6);
  color: #fefefe;
  width: 45%;
  height: 400px;
  display: block;
  margin-right: auto;
  padding: 20px;
  margin-top: 100px;
}

.appointments-paragraph {
  background-color: rgba(65, 105, 225, 0.6);
  color: #fefefe;
  width: 45%;
  height: 400px;
  display: block;
  margin-right: auto;
  padding: 20px;
  margin-top: 100px;
}

.reveal-by-y {
  position: relative;
  transform: translateY(150px);
  transition: 1s all ease;
}

.reveal-by-x {
  position: relative;
  transform: translateX(150px);
  transition: 1s all ease;
}

.reveal-by-x2 {
  position: relative;
  transform: translateX(-150px);
  transition: 1s all ease;
}

.reveal-by-y.on {
  transform: translateY(0);
}

.reveal-by-x.on {
  transform: translateX(0);
}

.reveal-by-x2.on {
  transform: translateX(0);
}

/* start of making know more about us responsive */
@media screen and (max-width:386px) {
  .about-us-paragraph h3 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:539px) {
  .about-us-paragraph {
    font-size: small;
  }
}

@media screen and (max-width:380px) {
  .about-us-paragraph a {
    font-size: 10px;
  }

  .about-us-paragraph p {
    margin-top: -20px;
  }
}

@media screen and (max-width:344px) {
  .about-us-paragraph a {
    font-size: 8px;
  }

  .about-us-paragraph p {
    margin-top: -68px;
  }

  .about-us-paragraph h3 {
    margin-bottom: 75px;
  }

  .about-par {
    font-size: 12px;
  }
}

@media screen and (max-width:317px) {
  .about-us-paragraph a {
    font-size: 8px;
  }

  .about-us-paragraph p {
    margin-top: -68px;
  }

  .about-us-paragraph h3 {
    margin-bottom: 80px;
  }

  .about-par {
    font-size: 11px;
  }
}

@media screen and (max-width:297px) {
  .about-us-paragraph a {
    font-size: 6px;
  }

  .about-par {
    font-size: 10px;
  }
}

@media screen and (max-width:280px) {
  .about-us-paragraph a {
    font-size: 6px;
  }

  .about-par {
    font-size: 9px;
  }
}

/* end of making know more about us responsive */

.about-us-button {
  text-decoration: none;
  color: #fefefe;
  background-color: royalblue;
  border: 5px solid royalblue;
  padding: 10px;
  border-radius: 5px;
}

.appointments-button {
  text-decoration: none;
  color: #fefefe;
  background-color: royalblue;
  border: 5px solid royalblue;
  padding: 10px;
  border-radius: 5px;
}

.about-us-button:hover {
  color: royalblue;
  background-color: #fefefe;
  border: 5px solid #fefefe;
}

.appointments-button:hover {
  color: royalblue;
  background-color: #fefefe;
  border: 5px solid #fefefe;
}

.about-par {
  margin-bottom: 50px;
}

.appointments-par {
  margin-bottom: 50px;
}

.contact-us {
  display: flex;
  flex-direction: row;
  background-color: rgba(65, 105, 225, 0.6);
  margin-bottom: 30px;
}

.contact-us-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
}

.contact-us p {
  margin-bottom: 50px;
  font-size: large;
  color: #fefefe;
  margin: 30px;
}

.contact-us-img {
  width: 40%;
}

/* start resposive of contact us */
@media screen and (max-width:753px) {
  .contact-us-img {
    width: 40%;
  }

  .feature-part {
    width: 40%;
    margin: 10px;
  }

  .features {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media screen and (max-width:577px) {
  .contact-us-img {
    width: 40%;
  }

  .contact_us_paragraphs p {
    font-size: 13px;
  }

  .contact_us_paragraphs a {
    font-size: 8px;
  }

  .location-logo {
    width: 15%;
  }
}

@media screen and (max-width:523px) {
  .contact-us-img {
    width: 50%;
  }

  .contact_us_paragraphs p {
    font-size: 10px;
  }

  .contact_us_paragraphs a {
    font-size: 7px;
  }
}

@media screen and (max-width:423px) {
  .contact-us-img {
    width: 40%;
  }

  .contact_us_paragraphs p {
    font-size: 13px;
  }

  .contact_us_paragraphs a {
    font-size: 13px;
  }

  .location-logo {
    width: 20%;
  }

  .nav-item {
    margin: 5px 0;
  }

}

/* end resposive of contact us */
.contact-us-button {
  text-decoration: none;
  color: #fefefe;
  background-color: royalblue;
  border: 5px solid royalblue;
  padding: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.contact-us-button:hover {
  color: royalblue;
  background-color: #fefefe;
  border: 5px solid #fefefe;
}

.align-contact {
  display: flex;
  float: left;
}

.contact-us-images {
  width: 10%;
  height: 40px;
  margin-left: 15px;
  margin-top: 20px;
}

.test_profile_img {
  width: 90px;
  border-radius: 50%;
  height: 80px
}

.test {

  height: 100px;
  width: 0px;
  border-radius: 40%;
  width: 10%;
  /* background-color: rgb(214, 224, 255); */
  position: relative;
  /* top: 30px; */
  top: -50px;
  left: 30px;
}

#first_test {
  margin-top: 15px;
}

/* start testimonail icon responsive */
@media screen and (max-width: 742px) {
  .test {
    height: 70px;
    width: 70px;
    top: -30px;
  }
}

@media screen and (max-width: 721px) {
  .test {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}

@media screen and (max-width: 649px) {
  .test {
    height: 60px;
    width: 60px;
    top: -30px;
  }

  .testimonials-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 435px) {
  .test {
    height: 60px;
    width: 60px;
    top: -30px;
  }

  .testimonials-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 351px) {

  .test-back p {
    font-size: 11px;
  }
}

@media screen and (max-width: 317px) {
  .test-back p {
    font-size: 10px;
  }

}

@media screen and (max-width: 296px) {
  .test-back p {
    font-size: 9px;
  }

}

/* end testimonail icon responsive */
/* start of adding text when hover on icon */
.nav-item .home_menu:hover i::after {
  content: "Home";
  margin-left: 5px;
}

.nav-item .shop_menu:hover i::after {
  content: "Shop";
  margin-left: 5px;
}

.nav-item .appointments_menu:hover i::after {
  content: "Appointments";
  margin-left: 5px;
}

.nav-item .contact_menu:hover i::after {
  content: "Contact";
  margin-left: 5px;
}

.nav-item .about_menu:hover i::after {
  content: "About us";
  margin-left: 5px;
}

.nav-item .basket_menu:hover i::after {
  content: "Basket";
  margin-left: 5px;
}

.nav-item .myaccount_menu:hover i::after {
  content: "My Account";
  margin-left: 5px;
}

/* end of adding text when hover on icon */