.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: white;
}

.slideshow-container {
  width: 100%;
  /* max-width: 1000px; */
  /* position: relative; */
  /* border: rgba(65, 105, 225, 0.8) solid 2px; */
  border-radius: 20px;
  /* margin: auto;
  padding: auto; */
  position: absolute;
  top: -34px;
}

.mySlides {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev:active,
.next:active {
  background-color: royalblue;
}

/* .text {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 24px;
  position: absolute;
  top: 90px;
  left: 300px;
  width: 30%;
}
.text h3{
  font-size: 50px;
} */
.text1{
  color: black;
  font-weight: bolder;
  width: 35%;
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 40px;
}
.text2{
  color: black;
  font-weight: bolder;
  width: 35%;
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 35px;
  margin-bottom: -10px;
}
@media screen and (max-width:1130px){
    #btn1{
      top: 270px;
      left: -10px;
    } 
}
@media screen and (max-width:769px){
  #btn2{
    top: 250px;
  }
  }
@media screen and (max-width:696px){
  #btn1{
    top: 320px;
    left: -10px;
  } 
}
@media screen and (max-width:696px){
  #btn2{
    top: 320px;
    left: -10px;
  } 
}
@media screen and (max-width:696px){
  #btn3{
    top: 300px;
    left: -10px;
  } 
}

@media screen and (max-width:540px){
  .text1,.text2{
    font-size: 30px;
  } 
  .text2{
    width: 40%;
  }
  .text3 p{
    font-size: 30px;
  }
  #btn1{
    top: 250px;
    padding: 10px;
  }
  #btn2{
    top: 250px;
    padding: 10px;
  }
  #btn3{
    top: 250px;
    padding: 10px;
  }
}
@media screen and (max-width:439px){
.text2{
  font-size: 27px;
}
  #btn1{
    top: 270px;
    width: 100%;
  }
  #btn2{
    top: 270px;
    width: 100%;
  }
  #btn3{
    top: 270px;
    width: 100%;
  }
}
@media screen and (max-width:412px){
  #btn1{
    font-size: 15px;
  }

  }
@media screen and (max-width:401px){
  #btn2{
    top: 290px;
  }
  .text3 p{
    font-size: 25px;
  }
  }
  @media screen and (max-width:399px){
    #btn2{
      font-size: 15px;
      padding: 10px;

    }
    #btn1{
      font-size: 15px;
      padding: 10px;
    }
    #btn3{
      font-size: 15px;
      padding: 10px;
    }

    }
    @media screen and (max-width:280px){
      .text2 p{
        font-size: 25px;
      }
      #btn1{
        font-size: 12px;
        padding: 10px;
      }
      }



.text3{
  color: black;
  font-weight: bolder;
  width: 35%;
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 35px;
}
/* .text1 button{

  margin-top: -40px;
  border-radius: 15px;
  padding:20px;
  width: 250px;
  background-color: royalblue;
}
.text1 button:hover{
  background-color: royalblue;
  opacity: 0.9;
} */
/* @media screen and(max-width:331px){   
  hone
.button .button{
  margin-left: -100px;
}
} */



.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 8px;
  position: relative;
  top: 50px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-current {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.cancelbtn,
.shop-products,
#product {
  display: inline-block;
}

.shop-products {
  text-align: center;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animateZoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.feature-icon {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.features {
  display: inline-flex;
}

.feature-part {
  width: 20%;
  float: left;
  display: block;
  justify-content: right;
  background-color: rgba(65, 105, 225, 0.6);
  color: #fefefe;
  margin-left: 50px;
  border-radius: 20px;
}

#feature_2 {
  margin-bottom: 38px;
}

.feature-part:hover {
  background: linear-gradient(rgba(65, 105, 225, 0.6), #fefefe);
  color: rgba(65, 105, 225, 0.6);
  border: 5px solid rgba(65, 105, 225, 0.6);
  transition: 2s;
}

/* tozbeet el features part */
#feature_4 {
  margin-right: 15px;
}

.profile-nav {
  border-bottom: 30px;
}

.dot-div {
  margin-top: 30px;
  text-align: center;
}

.feature-part div {
  text-align: center;
}

.about-us-location {
  margin-top: 50px;
}

.product1 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  perspective: 1000px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.product_info {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.product1:hover .product_info {
  transform: rotateY(180deg);
}

.img_section,
.attributes_section {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.img_section img {
  border-radius: 20px;
  margin-top: 5px;
  height: 103%;
  width: 101%;
  margin-top: -5px;
  background-color: #bbb;
  color: black;
}

.attributes_section {
  background-color: royalblue;
  opacity: 70%;
  border-radius: 20px;
  color: white;
  transform: rotateY(180deg);
}

.info {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 70px;
}

.add_to_basket {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 30px;
  margin-top: 4px;
}

.add_to_fav {
  width: 40px;
  height: 40px;
  margin-top: -3px;
  float: left;
  margin-left: 30px;
}

.location-logo {
  width: 3%;
}

.testimonial_cover {
  border: 2px solid #ccc;
  background-color: #eee;
  margin: 0px 16px 16px 16px;
  padding: 16px;
  border-radius: 30px;
}

.testimonial_cover:hover {
  background-color: #bbb;
}

.testimonial_cover img {
  float: left;
}

.testimonial_cover p {
  margin-left: 110px;
}

.name_test {
  color: grey;
}

.testimonial_cover {
  height: 150px;
}

.home-img {
  width: 100%;
  height: 600px;
}


.test-back {
  background-color: rgb(120, 149, 236);
  position: relative;
  top: 50px;
  padding-bottom: 30px;
  margin-bottom: 70px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 16px;
  bottom: -50px;
}

.testimonials-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.features-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.about-us-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.appointments-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.shop-products-title {
  margin-top: 30px;
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.shop-page-button {
  margin-top: 50px;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
}

.shop-page-button:hover {
  color: royalblue;
  background-color: #bbb;
  transition: 1s ease;
  border: 5px royalblue solid;
}

.about-us {
  background-image: url(../images/Gaming-Wallpaper.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 50px;
}

.appointments {
  /* background-image: url(../images/maintenance.jpg); */
  background-image: url(../images/repairing_image.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 50px;
}

.about-us-paragraph {
  background-color: rgba(65, 105, 225, 0.6);
  color: #fefefe;
  width: 45%;
  height: 400px;
  display: block;
  margin-right: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 50px;
}

.appointments-paragraph {
  background-color: rgba(65, 105, 225, 0.8);
  color: #fefefe;
  width: 45%;
  height: 400px;
  display: block;
  margin-right: auto;
  padding: 20px;
  margin-top: 100px;
  transform: matrix(1, 0, -0.2, 1, 50, 0);
  border-radius: 50px;
}


.about-us-button {
  text-decoration: none;
  color: #fefefe;
  background-color: royalblue;
  border: 5px solid royalblue;
  padding: 10px;
  border-radius: 5px;
}

.appointments-button {
  text-decoration: none;
  color: #fefefe;
  background-color: royalblue;
  border: 5px solid royalblue;
  padding: 10px;
  border-radius: 5px;
}

.about-us-button:hover {
  color: royalblue;
  background-color: #fefefe;
  border: 5px solid #fefefe;
  transition: 1s;
}

.appointments-button:hover {
  color: royalblue;
  background-color: #fefefe;
  border: 5px solid #fefefe;
  transition: 1s;
}

.about-par {
  margin-bottom: 50px;
}

.appointments-par {
  margin-bottom: 50px;
  font-weight: 500;
}

.contact-us {
  display: flex;
  flex-direction: row;
  background-color: rgba(65, 105, 225, 0.6);
  margin-bottom: 30px;
  border-radius: 50px;
}

.contact-us-title {
  text-align: center;
  color: rgba(65, 105, 225, 0.6);
  font: 20px Arial, sans-serif;
  margin-top: 200px;
  margin-bottom: 100px;
}

.contact-us p {
  margin-bottom: 50px;
  font-size: large;
  color: #fefefe;
  margin: 30px;
}

.contact-us-img {
  width: 50%;
  border-radius: 50px;
}

/* end resposive of contact us */
.contact-us-button {
  text-decoration: none;
  color: #fefefe;
  background-color: royalblue;
  border: 5px solid royalblue;
  padding: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.contact-us-button:hover {
  color: royalblue;
  background-color: #fefefe;
  border: 5px solid #fefefe;
  transition: 1s;
}

.align-contact {
  display: flex;
  float: left;
}

.contact-us-images {
  width: 10%;
  height: 40px;
  margin-left: 30px;
  margin-top: 20px;
  color: #fefefe;
}

.test_profile_img {
  width: 90px;
  border-radius: 50%;
  height: 80px
}

.test {

  height: 100px;
  width: 0px;
  border-radius: 40%;
  width: 10%;
  position: relative;
  top: -50px;
  left: 30px;
}

/* start responsive */
@media screen and (max-width: 860px) {
  .testimonial_cover {
    font-size: small;
  }

  .feature-part {
    width: 40%;
    margin: 10px;
  }

  .features {
    flex-flow: row wrap;
    justify-content: center;
  }

  .home-img {
    height: 400px;
  }

}

@media screen and (max-width: 742px) {
  .test {
    height: 70px;
    width: 70px;
    top: -30px;
  }

  .contact-us-img {
    width: 40%;
  }

  .feature-part {
    width: 40%;
    margin: 10px;
  }

  .features {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .product1 {
    margin-left: 220px;
  }

  .testimonial_cover {
    font-size: 12px;
  }

  .test {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}

@media screen and (max-width: 663px) {
  .product1 {
    margin-left: 200px;
  }

  .test {
    height: 60px;
    width: 60px;
    top: -30px;
  }

  .testimonials-title {
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 636px) {
  .product1 {
    margin-left: 180px;
  }
}

@media screen and (max-width: 628px) {
  .product1 {
    margin-left: 140px;
  }

  .appointments-paragraph {
    width: 75% !important;
  }

  .appointments {
    background-position: center;
    background-color: royalblue;
  }

  .features-title {
    font: 15px Arial, sans-serif !important;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .features {
    flex-flow: column !important;
    align-items: center !important;
  }

  .feature-part {
    width: 50%;
    margin-bottom: 30px;
  }

  .about-us-title {
    font-size: 15px !important;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .contact-us-title {
    font-size: 15px !important;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .appointments-title {
    font-size: 15px !important;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .contact-us {
    flex-direction: column !important;
  }

  .contact_us_paragraphs {
    margin: 0;
  }

  .contact-us-img {
    width: 100% !important;
  }

  .shop-products-title {
    font-size: 15px !important;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 567px) {
  .product1 {
    margin-left: 100px;
  }

  .contact-us-img {
    width: 40%;
  }

  .contact_us_paragraphs p {
    font-size: 13px;
  }

  .contact_us_paragraphs a {
    font-size: 8px;
  }

  .location-logo {
    width: 15%;
  }
}


@media screen and (max-width:523px) {
  .contact-us-img {
    width: 50%;
  }

  .contact_us_paragraphs p {
    font-size: 10px;
  }

  .contact_us_paragraphs a {
    font-size: 7px;
  }

  .about-us-paragraph {
    font-size: small;
  }
}

@media screen and (max-width: 423px) {
  .product1 {
    margin-left: 40px;
  }

  .appointments-paragraph {
    width: 75% !important;
  }

  .appointments {
    background-position: center;
    background-color: royalblue;
  }

  .test {
    height: 60px;
    width: 60px;
    top: -30px;
  }

  .testimonials-title {
    font-size: 12px;
  }

  .contact-us-img {
    width: 40%;
  }

  .contact_us_paragraphs p {
    font-size: 13px;
  }

  .contact_us_paragraphs a {
    font-size: 13px;
  }

  .location-logo {
    width: 20%;
  }
}

@media screen and (max-width: 372px) {
  .product1 {
    width: 250px;
    margin-left: 20px;
  }

  .test-back p {
    font-size: 11px;
  }

  .about-us-paragraph a {
    font-size: 10px;
  }

  .about-us-paragraph p {
    margin-top: -20px;
  }

  .about-us-paragraph h3 {
    margin-bottom: 75px;
  }

  .about-par {
    font-size: 12px;
  }

  .testimonial_cover {
    height: 160px;
  }
}

@media screen and (max-width: 323px) {
  .product1 {
    width: 200px;
    margin-left: 20px;
  }

  .about-us-paragraph a {
    font-size: 8px;
  }

  .about-us-paragraph p {
    margin-top: -68px;
  }

  .about-us-paragraph h3 {
    margin-bottom: 80px;
  }

  .about-par {
    font-size: 11px;
  }

  .testimonial_cover {
    height: 180px;
  }
}

@media screen and (max-width:280px) {
  .about-us-paragraph a {
    font-size: 6px;
  }

  .about-par {
    font-size: 9px;
  }

  .testimonial_cover {
    height: 290px;
  }

  .test-back p {
    font-size: 9px;
  }
}

@media screen and (max-width: 252px) {
  .testimonial_cover {
    height: 310px;
  }
}

@media screen and (max-width: 239px) {
  .product1 {
    margin-left: 2px;
  }
}

/*end responsive */



/*start of table css asc and desc*/


table {
  border-collapse: collapse;
}

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 2rem;
}

.recent-grid-complete {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px royalblue;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(#f0f0f0);
}

.card-header button {
  cursor: pointer;
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;
}

td .status,
td .status_checkout {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
.table-responsive {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
}

@media screen and (max-width: 960px) {
  .cards {
      grid-template-columns: repeat(3, 1fr);
  }

  .recent-grid {
      grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 768px) {
  .cards {
      grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid {
      grid-template-columns: 100%;
  }
}

@media screen and (max-width:560px) {
  .cards {
      grid-template-columns: 100%;
  }
}




tr:nth-child(even) {
  background-color: #dddddd;
}

tbody tr:hover {
  background-color: rgba(38, 143, 241, 0.644);
}

/* .container{

  width: 100%;
  height:600px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;

} */

.swiper {
  width: 100%;
  height: auto;
}
.swiper-slide img{
width: 100%;
height: 700px;
opacity: 0.7;
}
.swiper .swiper-button-prev,swiper-button-next{
  color: #fff;
}
.swiper .swiper-pagination-bullet-active{
  background-color: #fff;
}


.button button {
  font-size: 20px;
  background: black;
  color: #fff;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: absolute;
  border-radius: 15px;
  top: 210px;
  overflow: hidden;

}
.button button:hover {
  color: white;
  font-weight: 900;
}
.button button::after {
  content: "";
  background: rgba(65, 105, 225, 0.63);
  color: white;
  position: absolute;
  top: 100px;
  padding: 0.85em 0.75em;
  display: block;
}
.button button[class^="slide"]::after {
  transition: all 0.35s;
}
.button button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
.button button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.button button.slide_from_right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
.button button.slide_from_top::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}
.button button.slide_from_bottom::after {
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
}
.button button[class^="grow"]::after {
  transition: all 0.3s ease;
}
.button button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
.button button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
.button button.grow_box:hover::after {
  transform: scale(1, 1);
}
.button button.grow_ellipse::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8.34em;
  transform: scale(0, 0);
}
.button button.grow_ellipse:hover::after {
  transform: scale(1, 1);
}
.button button.grow_skew_forward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}
.button button.grow_skew_forward:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}
.button button.grow_skew_backward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
}
.button button.grow_skew_backward:hover::after {
  transform: skewX(45deg) scale(1, 1);
}
.buttonbutton.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}
.button button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}