.card img{
    height: 200px;
    width: 200px;
    
}
.card{
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-bottom: 30px;
    padding: 30px;
}
#product123{
    display: inline-block;
}
.small-container table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: royalblue;
    font-weight: normal;

}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-left: -50px;
}
td a{
    color:red;
    font-weight: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}