.card {
    text-align: center;
    margin-left: 180px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 75%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-bottom: 30px;
    padding: 30px;
}

.small-container table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: royalblue;
    font-weight: normal;

}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-left: -100px;
}

td a {
    color: red;
    font-weight: 12px;

}

td a:hover {
    background-color: lightgray;
}

td img {
    width: 110px;
    height: 110px;
    margin-right: 10px;
}

.info_of_product {
    text-align: start;
}

.info_of_product a {
    padding: 5px;
    margin-top: 100px;
}

.info_of_product p {
    font-size: 20px;
    font-weight: 500;
}

.info_of_product small {
    font-size: 15px;
}

input {
    border-radius: 5px;
}

.info_of_product a:hover {
    background-color: red;
    color: #fefefe;
}

.checkout-button {
    text-align: center;
    color: #fefefe;
    background-color: royalblue;
    width: 100%;
    font-size: medium;
    border-radius: 15px;
}

.update-cart-btn {
    float: left;
    margin-left: 10px;
    color: #fefefe;
    background-color: royalblue;
    font-size: medium;
    border-radius: 15px;
}

.empty-par {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.empty-par button {
    width: 20%;
    color: #fefefe;
    margin: 20px;
    border-radius: 5px;
}

.return-shop {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* start of making table responsive */
@media screen and (max-width:1178px) {
    td input {
        margin-left: -90px;
    }
}

@media screen and (max-width:1052px) {
    td input {
        margin-left: -70px;
    }
}

@media screen and (max-width:964px) {
    td input {
        margin-left: -50px;
    }

    .update-cart-btn {
        width: 40%;
    }
}

@media screen and (max-width:820px) {
    td input {
        margin-left: -30px;
    }

    .card {
        margin-left: 150px;
    }
}

@media screen and (max-width:676px) {
    .card {
        margin-left: 130px;
    }

    .update-cart-btn {
        width: 50%;
    }
}

@media screen and (max-width:492px) {
    .card {
        margin-left: 100px;
    }

    .cart-info img {
        height: 80px;
        width: 80px;
    }

    .update-cart-btn {
        width: 50%;
    }

}

@media screen and (max-width:461px) {
    .card {
        margin-left: 80px;
    }

}

@media screen and (max-width:376px) {
    .card {
        margin-left: 60px;
    }

    .update-cart-btn {
        width: 75%;
    }
}

@media screen and (max-width:415px) {
    .card {
        margin-left: 55px;
        padding: 10px;
        text-align: start;
    }

    .info_of_product {
        margin-right: 10px;
    }

    td input {
        margin-left: 15px;
    }
}

@media screen and (max-width:541px) {
    .card {
        margin-left: 90px;
    }
}

@media screen and (max-width:383px) {
    .card {
        margin-left: 10px;
        width: 80%;
    }
}

/* end of making table responsive */
.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    text-align: left;
    /* border-top: 3px solid royalblue; */
    border-top: 3px solid royalblue;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}