.profile {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 10px 10px 15px 1px royalblue;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.appointment-item{
    display: flex;
    flex-direction: column;
}

.appointment-item h2{
    color: royalblue;
}

.appointment-item-info{
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.appointment-item-info img{
    width: 25%;
    margin: 20px;
}

.appointment-item-info-part{
    display: flex;
    flex-direction: column;
}