.appointments {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 10px 10px 15px 1px royalblue;
    position: relative;
    left: 20%;
    right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.appointment-item {
    display: flex;
    flex-direction: column;
}

.appointment-item h2 {
    color: royalblue;
}

.appointment-item-info {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.appointment-item-info img {
    width: 25%;
    margin: 20px;
}

.appointment-item-info-part {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 838px) {
    .appointment-item-info {
        flex-direction: column;
    }

    .appointment-item-info img {
        margin: 5px;
        width: 50%;
    }
}
/* start of adding text when hover on icon */
.nav-item .home_menu:hover i::after {
    content:"Home";
    margin-left: 5px;
  }
  .nav-item .shop_menu:hover i::after {
    content:"Shop";
    margin-left: 5px;
  }
  .nav-item .appointments_menu:hover i::after {
    content:"Appointments";
    margin-left: 5px;
  }
  .nav-item .contact_menu:hover i::after {
    content:"Contact";
    margin-left: 5px;
  }
  .nav-item .about_menu:hover i::after {
    content:"About us";
    margin-left: 5px;
  }
  .nav-item .basket_menu:hover i::after {
    content:"Basket";
    margin-left: 5px;
  }
  .nav-item .myaccount_menu:hover i::after {
    content:"My Account";
    margin-left: 5px;
  }
  /* end of adding text when hover on icon */
  .gift i{
    position: relative;
    animation: myfirst 50s infinite;
    animation-timing-function: linear;
  }
  @keyframes myfirst {
    0%   {background: white; left: 0px; top: 0px;}
    25%  {background: white; left: 1470px; top: 0px;}
    50%  {background: white; left: 1470px; top: 400px;}
    75%  {background: white; left: 0px; top: 400px;}
    100% {background: white; left: 0px; top: 0px;}
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }